
body{
	
}
/*pinned head*/
:focus {
outline: 0;}
.head-pin {
	background: rgb(255,255,255);
	min-width: 100%;
	max-width: 300%;
    opacity: 0.5;
    z-index: 0;
    position: fixed;
	min-height: 45px;
}
.header{
	background: url("img/headbg.jpg") no-repeat;
	background-size: 100%;
	max-width: 300%;
}
ul.link {
	display: inline-block;
  	position:relative;
	float:right;
	right:10%;
}
.link li{
	display: inline-block;
	float: left;
	padding-right: 15px;
}
a {
	text-decoration: none;
	font-family: Tahoma;
	font-weight: 900;
	font-size: 120%;
	color: black;
}
a:hover{
	color: #3498DB;
	font-size: 122%;
}

/*Header block*/
}
div.sometxt{
	min-width: 400px;
	max-width: 800px;
	
}
.sometxt h1{
	display: block;
	position: absolute;
	text-align: center;
	top: 100px;
	left: 200px;
	right: 200px;
	font-style: bold;
	color: white;
}
div.frame{
	background: url("svg/framefull");
	width: 400px; 
	height: 257px;
	padding: 5px;
}
video{
	width: 370
	height: 227;
}